apiVersion: v1
kind: Service
metadata:
  name: app-community-service
  namespace: bladex
  labels:
    app: app-community-service
spec:
  ports:
  - port: 8201
    targetPort: 8201
    protocol: TCP
  selector:
    app: app-community-service

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-community-service
  namespace: bladex
  labels:
    app: app-community-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-community-service
  template:
    metadata:
      labels:
        app: app-community-service
    spec:
      #hostNetwork: true
      containers:
      - name: app-community-pod
        image: 192.168.127.158:5000/app-community-service:1.0.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8201
        env:
        - name: PARAMES
          #value: -Djava.security.egd=file:/dev/./urandom -Dspring.redis.host=192.168.127.134 -Dspring.cloud.nacos.discovery.server-addr=192.168.127.134:8848 -Dspring.cloud.nacos.config.server-addr=192.168.127.134:8848 -Dspring.datasource.dynamic.datasource.master.username=root -Dspring.datasource.dynamic.datasource.master.password=root -Dspring.datasource.dynamic.datasource.master.url=jdbc:mysql://192.168.127.133:3306/bladex?useSSL=false&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&tinyInt1isBit=false&allowMultiQueries=true&serverTimezone=UTC&allowPublicKeyRetrieval=true
          value: -Djava.security.egd=file:/dev/./urandom -Dspring.cloud.sentinel.transport.dashboard=192.168.127.137:38858 -Dspring.redis.host=192.168.127.137 -Dspring.redis.port=36379 -Dspring.cloud.nacos.discovery.server-addr=192.168.127.137:38848 -Dspring.cloud.nacos.config.server-addr=192.168.127.137:38848 -Dspring.datasource.dynamic.datasource.master.username=root -Dspring.datasource.dynamic.datasource.slave.username=root -Dspring.datasource.dynamic.datasource.master.password=root -Dspring.datasource.dynamic.datasource.slave.password=root -Dspring.datasource.dynamic.datasource.master.url=jdbc:mysql://192.168.127.137:33306/bladex?useSSL=false&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&tinyInt1isBit=false&allowMultiQueries=true&serverTimezone=UTC&allowPublicKeyRetrieval=true -Dspring.datasource.dynamic.datasource.slave.url=jdbc:mysql://192.168.127.137:33306/bladex?useSSL=false&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&tinyInt1isBit=false&allowMultiQueries=true&serverTimezone=UTC&allowPublicKeyRetrieval=true
        volumeMounts:
        - mountPath : /app/community/logs
          name: log-vol
      volumes:
      - name: log-vol
        hostPath:
          path: /home/logs/blade-community